<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Gate</title>
    <link rel="stylesheet" href="../static/style/home.css">

</head>
<body>
    <div class="container">
        <div class="resident">Permanant resident</div>
        <div class="visitor">Visiters</div>
        <div class="security">Security</div>
        <div class="quick-visiters">Quick Visiters</div>
    </div>
</body>
</html>