<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Gate</title>
    <link rel="stylesheet" href="../static/style/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="theme-color" content="#000000" >
    <meta name="description" content="Web site created using create-react-app">

</head>
<body>
    
    <div class="welcome-page">
      <h1>Welcome to IIT Gandhinagar</h1>
      <p>Explore and Experience Excellence</p>
        <div class='info-box'>
            <button class='bt'><a href="/permanent" style="text-decoration: none; color: white;" >Resident Student</a></button>
            <button class='bt'><a href="/visitors" style="text-decoration: none; color: white;" >Visiters</a></button>
            <button class='bt'><a href="/security" style="text-decoration: none; color: white;" >Security</a></button>
        
    </div>
</div>
</body>
</html>