<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Gate</title>
    <link rel="stylesheet" href="../static/style/home.css">

</head>
<body>
    <h1 id="Welcome">Welcome to IITGN</h1>
    <div class="box">
        <div class="resident"><a href="/permanent"> Permanant resident</a></div>
        <div class="visitor"><a href="/visiters"> Visiters</a></div>
        <div class="security"><a href="/security"> Security</a></div>
        <div class="quick-visiters"><a href="/quick"> Quick Visiters</a></div>
    </div>
</body>
</html>